/*
  Basic Page Outline
  ------------------
  <body>
    <div id="root">
      <div>
        <header>
          <PageHeader>
          <NavLink exact to="/">Home</NavLink>
        </header>
        <main className="content">{this.props.children}</main>
        <footer>Footer</footer>
*/

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header .NavLink,
header a,
.github {
    border: 1px solid rgba(100,150,220,.8);
    border-bottom: none;
    border-radius: 5px;
    display: inline-block;
    padding: .5rem 1rem;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+54,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
  #root {
    background-image: url(/assets/images/register_checkbook_homepage.jpg);
      background-repeat: no-repeat;
      background-position: 50% 0%;
      /*background-size: 100% 100%;*/
      /*opacity: 0.5;*/

    border: 1px solid rgba(100,220,150,.5);
      border-radius: 1rem;
      box-shadow: .35rem .35rem rgba(100,150,220,.25);

    margin: 1rem auto;
    max-width: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem;
    width: 95%;
  }
  #root > div {
    background-color: rgba(255,255,255,.75)
  }
    #root > .div-home {
      background-color: rgba(255,255,255,.35)
    }
    header {
      border-bottom: 1px solid rgba(100,150,220,.25);
      margin: 0 auto 1rem;
      padding-bottom: 1rem;
      text-align: center;
    }
    footer {
      border-top: 1px solid rgba(100,150,220,.25);
      margin: 3rem auto 1rem;
      padding-top: 1rem;
      position: relative;
      text-align: center;
    }
      footer .footer-left {
      }
      footer .footer-right {
        position: absolute;
          bottom: 0;
          right: 1rem;
      }
        @media (max-width: 575px) {
            footer .footer-right {
              position: relative;
            }
        }
        @media (min-width: 575px) {
            footer .footer-right .hide-created-575 {
              display: none;
            }
        }
      footer .delete-account {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
      }

/* Register Page - Outer Frame */
  .register-outer-div {
    min-height: 38rem;
  }


.pickme {
  background-color: #ffffff;
  cursor: progress;
  outline: 1px solid green;
  float: right;
  height: 3rem;
  width: 3rem;
}

/* Register - [Types] and [Categorys] (AutoSuggest) buttons */
.autosuggest button.btn {
  height: 3rem;
  line-height: 1.25;
}
  .table>thead>tr>th.list-title {
    padding-bottom: 2rem;
  }
  .form-inline .has-feedback span.autosuggest.form-control-feedback {
    right: 7rem;
  }

/* Previous Entries - Disabled Inputs */
  .form-inline .fallbackDatePicker .form-control:disabled,
  .form-inline .form-control:disabled {
      background: none;
      border: 0 solid white;
      border-radius: 0;
      box-shadow: inset 0 0 0 rgba(0,0,0,0);
      font-size: small;
      height: 2rem;
      margin: 0.5rem 0 0;
      padding: 0 1rem;
  }
    .form-inline input[name="amount"].form-control:disabled {
      padding-left: 2rem;
    }
    .form-inline button:disabled {
      display: none;
    }
    input[type="checkbox"]:disabled {
      opacity: 0;
    }
    input[type="checkbox"]:disabled:checked {
      opacity: 1;
    }
  .entry-current {
    background-color: rgba(125,125,225,.10);
    padding: 1rem 0.5rem;
  }
    .entry-current .show-grid .field-col {
      padding: 0 .3rem;
    }
    .entry-current .show-grid.row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .entry-current .show-grid label {
      font-weight: normal;
      padding-left: .3rem;
    }
    .entry-current button[type="submit"] {
      margin: 1rem 0 0;
      min-width: 115px;
    }
  .entry-previous {
    border-top: 2px solid rgba(0,128,0,.35);
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: rgba(125,225,125,.15);
  }
    .entry-previous .form-inline .form-group {
      margin: 0;
      /*outline: 1px solid red;*/
    }
    .entry-previous .show-grid.row {
      margin-left: 0;
      margin-right: 0;
    }
    .entry-previous .show-grid.dotted-bottom {
      border-bottom: 1px dotted #cccccc;
    }
    .entry-previous .show-grid .field-col {
      padding: 0 0 0 1rem;
    }
    .entry-previous select::-ms-expand {
      display: none;
    }
    .entry-previous select {
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    .entry-previous input[type="number"]:disabled {
      -moz-appearance: textfield;
    }
    .entryButtons {
      padding: 0;
      position: relative;
      text-align: center;
    }
      .entryButtons button.btn-xs {
      }
      .entryButtons button.btn-sm {
        margin: 0;
      }
      .entryButtons button.button-edit {
      }
      .entryButtons button.button-remove {
        margin-top: 0.7rem;
      }
      .entryButtons button.button-save {
        height: 3.5rem;
        margin-top: 2rem;
      }
      .entryButtons button.button-cancel {
      }
      .entryButtons .buttons-edit-remove-xs {
        display: inline-block;
        height: 4rem;
        position: absolute;
          right: 2rem;
          top: -2rem;
      }
        .entryButtons .buttons-edit-remove-xs .button-remove {
          margin-left: 1rem;
          margin-top: 0;
        }

/* Registry Page - Filter and Sort */

    .register-outer-div > .grid-layout-fluid {
      border: 3px solid #2255aa;
      border-radius: 15px;
    }
    .register-outer-div > .show-grid {
      border: 3px solid green;
      border-radius: 15px;
      max-height: 1000px;
      overflow-x: hidden;
      overflow-y: auto;
    }

/* Sort Options Flyout */

  .entries-title-titlebar,
  .entries-current-titlebar,
  .entries-previous-titlebar,
  .entries-footer-titlebar {
    min-height: 4rem;
    position: relative;
  }
    .entries-title-titlebar h3,
    .entries-current-titlebar h3,
    .entries-previous-titlebar h3 {
      margin-bottom: 5px;
      padding-top: 0.75rem;
    }

    .text-cleared {
      color: #777777;
      display: inline-block;
      height: 4rem;
      line-height: 2.5;
      padding: 0.5rem 0;
      position: absolute;
        bottom: 4.5rem;
        right: 140px;
      text-align: center;
      width: 140px;
      outline: 0px solid red;
    }
    .text-total {
      border-radius: 5px;
      box-shadow: inset 2px 2px .25em rgba(35,55,225,.5);
      clear: both;
      display: inline-block;
      font-weight: bold;
      height: 4rem;
      line-height: 2;
      padding: 0.5rem 0;
      position: absolute;
        bottom: 4.5rem;
        right: 0;
      text-align: center;
      width: 140px;
      outline: 0px solid red;
    }
    .text-filtered {
      display: inline-block;
      font-weight: bold;
      height: 4rem;
      line-height: 2.5;
      padding: 0.5rem 0;
      position: absolute;
        bottom: 4.5rem;
        right: 280px;
      text-align: center;
      width: 140px;
      outline: 0px solid red;
    }
      .entries-footer-titlebar .text-cleared,
      .entries-footer-titlebar .text-total,
      .entries-footer-titlebar .text-filtered {
        top: 1rem;
      }

    .entries-footer-titlebar .title-right-slot {
      margin-right: 1.5rem;
      position: relative;
    }

    .title-right-slot {
      height: 4rem;
      position: absolute;
        right: 0;
        top: 0;
      text-align: right;
    }
      .title-right-slot input {
        border-radius: 5px;
        margin-right: 1rem;
        padding-left: 0.5rem;
        width: 15rem;
      }
      .title-right-slot button {
        margin-right: 1.5rem;
        min-width: 125px;
      }
      .title-right-slot .pref {
        background-color: #ffffff;
        border: 1px solid #cccccc;
          border-radius: 10px;
        margin: 0;
        padding: 2rem;
        position: absolute;
          right: 1.5rem;
          top: 4rem;
          z-index: 9;
        text-align: left;
        width: 200px;
      }
      .title-right-slot .pref.preferences {
        background-color: #ffffff;
        height: auto;
          min-height: 100px;
        transition: all 0.35s cubic-bezier(.26,.69,.97,.57);
      }
      .title-right-slot .pref.preferences-hide {
        border: 0;
        height: 0;
          min-height: 0;
        padding: 0;
        transition: all 0.5s cubic-bezier(1,0,1,0);
      }
        .title-right-slot .pref.preferences-hide .form-group,
        .title-right-slot .pref.preferences-hide .form-group label,
        .title-right-slot .pref.preferences-hide .form-group select {
          border: 0;
          height: 0;
          font-size: 0;
          padding: 0;
          transition: all 0.5s cubic-bezier(.25,1,.5,1);
        }
    .entries-current-titlebar .title-right-slot {
      margin-right: 1.5rem;
      top: 3.5rem;
    }


a.active {
  font-weight: bold;
  text-decoration: underline;
}
.page-header {
  border-bottom: none;
  font-family: 'Sarpanch', sans-serif;
  /*font-family: 'Baloo Thambi', cursive;*/
  /*font-family: 'Baumans', cursive;*/
  margin: 0;
}
.div-home h2 {
  /* Home page - Title */
  font-family: 'Sarpanch', sans-serif;
}
.well {
  background-image: linear-gradient(to bottom, #F7FFF7 0, #FFFFFF 100%);
  border: 0px solid rgba(100,175,125,1);
  box-shadow: inset 2px 2px 0.75em rgba(155,155,195,.5);
  margin: 3rem;
}


/* UTIL - Utility */

.no-wrap,
.nowrap,
.noWrap {
  display: inline-block;
  white-space: nowrap;
}
@media (max-width: 768px) {
    .non-mobile-i,
    .non-mobile-ib,
    .non-mobile-b {
        display: none;
    }
}
@media (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
    .non-mobile-i {
        display: inline;
    }
    .non-mobile-ib {
        display: inline-block;
    }
    .non-mobile-b {
        display: block;
    }
}

/* PAGE-SPECIFIC */

.divMark,
.divMark img {
    max-width: 750px;
}
.login-form input,
.login-form button {
  text-align: center;
  width: 100%;
}

/* .NavLink == Top nav bar -> Logout (which is a span; not an <a>) */
a,
.NavLink {
  color: #337ab7;
  cursor: pointer;
}

  header nav {
  }
    header nav > span {
      margin-top: 1rem;
    }
    header a,
    header .NavLink {
      border: 1px solid rgba(100,150,220,.8);
        border-bottom: none;
        border-radius: 5px;
      display: inline-block;
      padding: 0.5rem 1rem;
    }
    a:hover,
    .NavLink:hover {
      color: green;
      text-decoration: underline;
    }

.li-bold {
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

/* Registry Page */

.show-grid,
.show-grid > div {
  /*margin: 0;*/
  outline: 0px solid green;
  /*padding: 0 0.5rem;*/
}
.show-grid label {
  display: block;
  margin: 0;
}
.show-grid label span {
  font-size: 12px;
}

.form-inline .form-group {
  display: block;
}
.form-inline .form-control {
  display: block;
  height: 3rem;
  margin: 0;
  padding: 0 0 0 .5rem;
  width: 100%;
}
.form-inline input[name='amount'],
.form-inline .fallbackDatePicker,
.form-inline .fallbackDatePicker .form-group {
  display: inline-block;
}
.form-inline .fallbackDatePicker select.form-control {
  display: inline-block;
  height: 3rem;
  padding: 0;
  width: auto;
}
input[name='amount'].form-control {
  padding-left: 2rem;
  width: 100%;
}
  .form-inline span.amount::before {
    content: "$";
    position: absolute;
      left: .7rem;
      top: 0;
  }
  .form-inline span.amount {
    position: relative;
    white-space: nowrap;
  }
.form-inline .has-feedback .form-control-feedback {
  right: 1rem;
  top: 2rem;
}

@media (min-width: 768px) {
  .login-form input {
    padding-left: 1rem;
    text-align: left;
  }
}
