/*
  Basic Page Outline
  ------------------
  <body>
    <div id="root">
      <div>
        <header>
          <PageHeader>
          <NavLink exact to="/">Home</NavLink>
        </header>
        <main className="content">{this.props.children}</main>
        <footer>Footer</footer>
*/

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
  #root {
    border: 1px solid rgba(100,220,150,.5);
    border-radius: 1rem;
    box-shadow: .35rem .35rem rgba(100,150,220,.25);
    margin: 1rem auto;
    max-width: 850px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    width: 95%;
  }
    header {
      border-bottom: 1px solid rgba(100,150,220,.25);
      margin: 0 auto 1rem;
      padding-bottom: 1rem;
      text-align: center;
    }
    footer {
      border-top: 1px solid rgba(100,150,220,.25);
      margin: 1rem auto 0;
      padding-top: 1rem;
      text-align: center;
    }

/* Register Page - Outer Frame */
  .register-outer-div {
    min-height: 38rem;
  }


.pickme {
  background-color: #ffffff;
  cursor: progress;
  outline: 1px solid green;
  float: right;
  height: 3rem;
  width: 3rem;
}

/* Register - [Types] and [Categorys] (AutoSuggest) buttons */
.autosuggest button.btn {
  height: 3rem;
  line-height: 1.25;
}
  .table>thead>tr>th.list-title {
    padding-bottom: 2rem;
  }
  .form-inline .has-feedback span.autosuggest.form-control-feedback {
    right: 7rem;
  }

/* Previous Entries - Disabled Inputs */
  .form-inline .fallbackDatePicker .form-control:disabled,
  .form-inline .form-control:disabled {
      background: none;
      border: 0 solid white;
      border-radius: 0;
      box-shadow: inset 0 0 0 rgba(0,0,0,0);
      font-size: small;
      height: 2rem;
      margin: .75rem 0 .75rem;
      padding: 0 1rem;
  }
    .form-inline input[name="amount"].form-control:disabled {
      padding-left: 2rem;
    }
    .form-inline button:disabled {
      display: none;
    }
    input[type="checkbox"]:disabled {
      opacity: 0;
    }
    input[type="checkbox"]:disabled:checked {
      opacity: 1;
    }
  .entry-current {
    background-color: rgba(125,125,225,.10);
    padding: 1rem 0;
  }
    .entry-current .show-grid .field-col {
      padding: 0 .3rem;
    }
    .entry-current .show-grid.row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .entry-current .show-grid label {
      font-weight: normal;
      padding-left: .3rem;
    }
    .entry-current button[type="submit"] {
      margin: 0 .5rem 1rem 0;
    }
  .entry-previous {
    border-top: 2px solid rgba(0,128,0,.35);
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: rgba(125,225,125,.15);
  }
    .entry-previous .show-grid.row {
      margin-left: 0;
      margin-right: 0;
    }
    .entry-previous .show-grid.dotted-bottom {
      border-bottom: 1px dotted #cccccc;
    }
    .entry-previous .show-grid .field-col {
      padding: 0 0 0 1rem;
    }
    .entry-previous select::-ms-expand {
      display: none;
    }
    .entry-previous select {
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    .entry-previous input[type="number"] {
      -moz-appearance: textfield;
    }
    .entryButtons {
      padding: 0;
      text-align: center;
    }
      .entryButtons button.btn-xs {
      }
      .entryButtons button.btn-sm {
        margin: 0;
      }
      .entryButtons button.button-edit {
      }
      .entryButtons button.button-remove {
        margin-top: 0.7rem;
      }
      .entryButtons button.button-save {
        height: 3.5rem;
        margin-top: 2rem;
      }
      .entryButtons button.button-cancel {
      }

/* Registry Page - Filter and Sort */

  .entries-previous {
    min-height: 4rem;
    position: relative;
  }
    .register-outer-div > .grid-layout-fluid {
      border: 3px solid #2255aa;
      border-radius: 15px;
    }
    .register-outer-div > .show-grid {
      border: 3px solid green;
      border-radius: 15px;
      max-height: 1000px;
      overflow-x: hidden;
      overflow-y: auto;
    }

/* Sort Options Flyout */

    .sortFilter {
      position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
      text-align: right;
    }
    .sortFilter input {
      margin-right: 1rem;
    }
    .sortFilter .pref {
      background-color: #ffffff;
      border: 1px solid #cccccc;
        border-radius: 10px;
      margin: 0;
      padding: 2rem;
      text-align: left;
      width: 250px;
    }
    .sortFilter .pref.preferences {
      height: auto;
        min-height: 100px;
      transition: all 0.35s cubic-bezier(.26,.69,.97,.57);
    }
      .sortFilter .pref.preferences .form-group {
        opacity: 1;
        transition: all 0.35s cubic-bezier(.26,.69,.97,.57);
      }
    .sortFilter .pref.preferences-hide {
      border: 0;
      height: 0;
        min-height: 0;
      padding: 0;
      transition: all 0.5s cubic-bezier(1,0,1,0);
    }
      .sortFilter .pref.preferences-hide .form-group,
      .sortFilter .pref.preferences-hide .form-group label,
      .sortFilter .pref.preferences-hide .form-group select {
        border: 0;
        height: 0;
        font-size: 0;
        padding: 0;
        transition: all 0.5s cubic-bezier(.25,1,.5,1);
      }


a.active {
  font-weight: bold;
  text-decoration: underline;
}
.page-header {
  border-bottom: none;
  margin-top: 0;
}
.well {
  background-image: linear-gradient(to bottom, #F7FFF7 0, #FFFFFF 100%);
  border: 0px solid rgba(100,175,125,1);
  box-shadow: inset 2px 2px 0.75em rgba(155,155,195,.5);
  margin: 3rem;
}


/* UTIL */

.no-wrap {
  display: block;
  white-space: nowrap;
}


/* PAGE-SPECIFIC */

.divMark,
.divMark img {
    max-width: 750px;
}
.login-form input,
.login-form button {
  text-align: center;
  width: 100%;
}
a,
.NavLink {
  color: #337ab7;
  cursor: pointer;
}
  a:hover,
  .NavLink:hover {
    color: #23527c;
    text-decoration: underline;
  }
.li-bold {
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

/* Registry Page */

.show-grid,
.show-grid > div {
  /*margin: 0;*/
  outline: 0px solid green;
  /*padding: 0 0.5rem;*/
}
.show-grid label {
  display: block;
  margin: 0;
}
.show-grid label span {
  font-size: 12px;
}

.form-inline .form-group {
  display: block;
}
.form-inline .form-control {
  display: block;
  height: 3rem;
  margin: 0;
  padding: 0 0 0 .5rem;
  width: 100%;
}
.form-inline input[name='amount'],
.form-inline .fallbackDatePicker,
.form-inline .fallbackDatePicker .form-group {
  display: inline-block;
}
.form-inline .fallbackDatePicker select.form-control {
  display: inline-block;
  height: 3rem;
  padding: 0;
  width: auto;
}
input[name='amount'].form-control {
  padding-left: 2rem;
  width: 100%;
}
  .form-inline span.amount::before {
    content: "$";
    position: absolute;
      left: .7rem;
      top: 0;
  }
  .form-inline span.amount {
    position: relative;
    white-space: nowrap;
  }
.form-inline .has-feedback .form-control-feedback {
  right: 1rem;
  top: 2rem;
}

@media (min-width: 768px) {
  .login-form input {
    padding-left: 1rem;
    text-align: left;
  }
}
